body{
    font-family: "Roboto", sans-serif;
}

.menu-item { /*Items from the menu*/
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    list-style-type: none;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.visuals-menu {
    position: fixed;
    top: 200px;
    left: 10px;
}

.visuals {
    margin-left: 200px;
    padding: 20px;
}

.container {
  display: flex;
}

.hover {
    background: #075293;
    color: #ffffff;
}

.selected{
    background: rgb(255, 255, 255);
    color: #075293;
    font-weight: 500;
}